footer {
  border: 1px solid rgba(240, 240, 240, 1);
  background: rgba(255, 255, 255, 1);
  .footer {
    display: flex;
    justify-content: space-between;
    @media (max-width: 985px) {
      flex-wrap: wrap;
    }
    .copyright {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
    }
    .one {
      ul {
        display: flex;
        align-items: start;
        gap: 10px;
        flex-direction: column;
        li {
          list-style-type: none;
        }
      }
    }
    .two {
      ul {
        display: flex;
        align-items: start;
        gap: 10px;
        flex-direction: column;
        li {
          list-style-type: none;
        }
      }
    }
    .three {
      ul {
        display: flex;
        align-items: start;
        gap: 10px;
        flex-direction: column;
        li {
          list-style-type: none;
        }
      }
    }
  }
}
